:host {
    display: grid;
    grid-template-columns: auto 1fr 30px 30px 30px;
    width: 100%;
}


.window-action {
    display: flex;
    align-items: center;
}

.branding {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: var(--cds-global-typography-section-font-size);
    color: var(--cds-global-color-gray-0);
    // gap: 10px;
    margin-left: 10px;
}
