:host {
    display: grid;
    grid-template-columns: auto 1fr 30px 30px 30px 30px;
    width: 100%;
}

.window-action {
    display: flex;
    align-items: center;
}

.branding {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: var(--cds-global-typography-section-font-size);
    color: var(--cds-global-color-gray-0);
    // gap: 10px;
    margin-left: 10px;
}

.example-list {
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.example-list>li {
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 0;
}

.example-list>li:last-child {
    border-bottom: none;
}
