<div cds-layout="vertical align:stretch p:lg">
    <form #form="ngForm" cds-layout="m-t:md">
        <p cds-text="title" cds-layout="m-t:none m-b:lg">Settings</p>
        <cds-form-group card layout="horizontal" cds-layout="m-b:lg">

            <cds-checkbox-group>
                <label>Dark Mode</label>
                <cds-checkbox>
                    <label></label>
                    <input type="checkbox" checked name="darkmode" [(ngModel)]="darkMode" />
                </cds-checkbox>
            </cds-checkbox-group>

            <cds-checkbox-group>
                <label>Diff: Side by Side</label>
                <cds-checkbox>
                    <label></label>
                    <input type="checkbox" name="sidebyside" [(ngModel)]="diffFormate" />
                </cds-checkbox>
            </cds-checkbox-group>

            <cds-checkbox-group>
                <label>Auto Fetch (10 sec)</label>
                <cds-checkbox>
                    <label></label>
                    <input type="checkbox" name="autofetch" [(ngModel)]="autoFetch" />
                </cds-checkbox>
            </cds-checkbox-group>

            <cds-input>
                <label>Pane size</label>
                <input type="text" name="panesize" required [(ngModel)]="paneSize" />
                <cds-control-message status="error" *ngIf="form.controls['panesize']?.touched && paneSize === 0">
                    Pane size not defined
                </cds-control-message>
                <cds-control-message status="error" *ngIf="paneSize < 300">
                    It is recommended to have a size of 300.
                </cds-control-message>
            </cds-input>

            <cds-input-group layout="vertical">
                <label>Default clone path</label>
                <cds-input cds-layout="m-r:xs">
                    <label>Path</label>
                    <input type="text" name="path" [(ngModel)]="defaultPath" />
                </cds-input>
                <cds-file cds-layout="align:shrink">
                    <label>Select path</label>
                    <input type="folder" (click)="openDialog()" />
                </cds-file>
            </cds-input-group>

        </cds-form-group>
        <p cds-text="title" cds-layout="m-t:none m-b:lg">Git global user</p>
        <cds-form-group card layout="horizontal" cds-layout="m-b:lg">

            <cds-input>
                <label>Name</label>
                <input type="text" name="gitname" required [(ngModel)]="user.name" />
                <cds-control-message status="error" *ngIf="form.controls['gitname']?.touched && user.name.length === 0">
                    Name not defined
                </cds-control-message>
            </cds-input>

            <cds-input>
                <label>Email</label>
                <input type="text" name="gitemail" required [(ngModel)]="user.email" />
                <cds-control-message status="error"
                    *ngIf="form.controls['gitemail']?.touched && user.email.length === 0">
                    Email not defined
                </cds-control-message>
            </cds-input>

        </cds-form-group>
        <div cds-layout="horizontal gap:sm">
            <cds-button (click)="save()" [loadingState]="saveState" [disabled]="form.invalid || !form.dirty">Save
            </cds-button>
            <cds-button status="success" (click)="openDevTools()" *ngIf="devMode">Open DevTools</cds-button>
        </div>
    </form>


</div>
