<div class="parent" cds-layout="vertical align:stretch p:lg" *ngIf="filtredRepositories?.length > 0; else noRepos">
    <div class="commandos-grid-home-meta" cds-layout="m-b:lg">
        <p cds-text="heading" cds-layout="m-t:none">
            {{ 'PAGES.HOME.TITLE' | translate }}
        </p>
        <div class="grid-item-end commandos-meta-bar">
            <a
                (click)="isFilterOpen = !isFilterOpen"
                cdkOverlayOrigin
                #filterTrigger="cdkOverlayOrigin"
                class="action clickable"
                aria-label="minimize"
                role="button"
                cds-layout="m-l:lg">
                <cds-icon shape="filter" size="20" [solid]="isTagFilterActive"></cds-icon>
            </a>
            <cds-search control-width="shrink">
                <label></label>
                <input type="search" [(ngModel)]="searchText" />
            </cds-search>
        </div>
    </div>

    <div class="commander-grid commander-overview-grid">
        <div class="commander-row-title commander-overview-row-title sticky" cds-text="body bold">
            <div>Name</div>
            <div>Folder</div>
            <div>Tags</div>
        </div>
        <div
            class="commander-row commander-overview-row"
            *ngFor="let repo of filtredRepositories"
            cds-text="body"
            (click)="openRepository(repo.id)"
            (contextmenu)="openContext($event, repo)">
            <div class="lh overflow-ellipsis" [innerHTML]="repo.name"></div>
            <div class="lh overflow-ellipsis" [innerHTML]="repo.path"></div>
            <div>
                <div cds-layout="horizontal gap:sm">
                    <cds-tag readonly *ngFor="let tag of repo.tags" color="gray">{{ tag }}</cds-tag>
                </div>
            </div>
        </div>
    </div>

    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="filterTrigger"
        [cdkConnectedOverlayOpen]="isFilterOpen"
        [cdkConnectedOverlayHasBackdrop]="true"
        (backdropClick)="isFilterOpen = false">
        <section class="contextmenu" cds-layout="p:md" (contextmenu)="$event.preventDefault()">
            <h4 class="contextmenu-header" cds-text="secondary" cds-layout="p:sm" class="">Filter by:</h4>
            <div class="action-list">
                <div
                    *ngFor="let tag of tags"
                    (click)="toggle(tag)"
                    cds-text="secondary"
                    cds-layout="p-x:md p-y:sm"
                    class="clickable contextmenu-action"
                    [ngClass]="{ active: tag.selected }">
                    {{ tag.name }}
                </div>
            </div>
            <h4 (click)="clearTagFilter()" cds-text="secondary" cds-layout="p:sm" class="clickable contextmenu-action">Clear filter</h4>
        </section>
    </ng-template>
</div>

<ng-template #noRepos>
    <div class="center-region text-center" (contextmenu)="$event.preventDefault()">
        <p>
            Thank you for using Commandos!<br />
            Start adding repositories to Commandos, to use the awesome features!<br />
            <br />
            <cds-button [routerLink]="['/add-repository']">Add Repository</cds-button>
        </p>
    </div>
</ng-template>

<ng-template #userMenu let-repo>
    <section class="contextmenu" cds-layout="p:md" (contextmenu)="$event.preventDefault()">
        <div (click)="openCmd(repo.pathOrig)" cds-text="secondary" cds-layout="p-x:md p-y:sm" class="clickable contextmenu-action">
            Open in Explorer
        </div>
        <div (click)="openCode(repo.pathOrig)" cds-text="secondary" cds-layout="p-x:md p-y:sm" class="clickable contextmenu-action">
            Open in VSCode
        </div>
        <div (click)="openTerminal(repo.pathOrig)" cds-text="secondary" cds-layout="p-x:md p-y:sm" class="clickable contextmenu-action">
            Open in Terminal
        </div>
        <div (click)="copyPath(repo.pathOrig)" cds-text="secondary" cds-layout="p-x:md p-y:sm" class="clickable contextmenu-action">
            Copy Path
        </div>
    </section>
</ng-template>
