<div class="parent" cds-layout="vertical align:stretch p:lg" *ngIf="repositoriesGrouped?.length > 0;else noRepos">
    <p cds-text="heading" cds-layout="m-t:none m-b:lg">{{ 'PAGES.HOME.TITLE' | translate }}</p>
    <p cds-text="secondary" cds-layout="m-b:sm">Group by:
        <a (click)="group('none')" cds-text="link">None</a> |
        <a (click)="group('folder')" cds-text="link">Folder</a> |
        <a (click)="group('tags')" cds-text="link">Tags</a>
    </p>
    <ng-scrollbar class="virtual-scroll">
        <ng-container *ngFor="let group of repositoriesGrouped">
            <p cds-text="subsection" cds-layout="m-t:lg m-b:md" *ngIf="group.title">
                <b cds-layout="p-r:md">{{group.title}}</b>
                <small *ngIf="group.path"><i>{{group.path}}</i></small>
            </p>
            <div class="commander-grid commander-overview-grid ">
                <div class="commander-row-title commander-overview-row-title sticky" cds-text="body bold">
                    <div>Name</div>
                    <div>Folder</div>
                    <div>Tags</div>
                </div>
                <div class="commander-row commander-overview-row" *ngFor="let repo of group.repositories"
                    cds-text="body" (click)="openRepository(repo.id)" (contextmenu)="openContext($event, repo)">
                    <div class="lh">{{repo.name}}</div>
                    <div class="lh">{{repo.path}}</div>
                    <div>
                        <div cds-layout="horizontal gap:sm">
                            <cds-tag readonly *ngFor="let tag of repo.tags" color="gray">{{tag}}</cds-tag>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-scrollbar>

</div>

<ng-template #noRepos>
    <div class="center-region text-center">
        <p>Thank you for useing Commandos!<br>
            Start adding repositories to Commandos, to use the awesome features!<br>
            <br>
            <cds-button [routerLink]="['/add-repository']">Add Repository</cds-button>
        </p>
    </div>
</ng-template>

<ng-template #userMenu let-repo>
    <section class="contextmenu" cds-layout="p:xs">
        <div (click)="openCmd(repo.path)" cds-text="secondary" cds-layout="p:sm" class="clickable contextmenu-action">
            Open in Explorer
        </div>
        <!-- <cds-divider></cds-divider> -->
        <div (click)="openCode(repo.path)" cds-text="secondary" cds-layout="p:sm" class="clickable contextmenu-action">
            Open in VSCode
        </div>
        <div (click)="openTerminal(repo.path)" cds-text="secondary" cds-layout="p:sm"
            class="clickable contextmenu-action">
            Open in Terminal
        </div>
        <cds-divider></cds-divider>
        <div (click)="copyPath(repo.path)" cds-text="secondary" cds-layout="p:sm" class="clickable contextmenu-action">
            Copy Path
        </div>
        <!-- <div>Send to</div> -->
    </section>
</ng-template>
