.commander-overview-grid {
    width: 100%;
    --commander-overview-grid-template-columns: 300px 1fr 300px;

    .commander-overview-row-title {
        display: grid;
        grid-template-columns: var(--commander-overview-grid-template-columns);

        div {
            padding: 2px 10px;
        }
    }

    .commander-overview-row {
        display: grid;
        grid-template-columns: var(--commander-overview-grid-template-columns);

        .lh {
            line-height: 25px;
        }
    }
}

:host {
    display: block;
    height: 100%;
}

// .parent {
    //     height: 100%;
    // }
.commandos-grid-home-meta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.commandos-meta-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.action-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2px;
    margin: 4px 0;
}
