.green {
    color: var(--cds-alias-status-success);
}

.red {
    color: var(--cds-alias-status-danger-shade);
}

.updownarrow {
    margin-left: -3px;
    margin-top: -3px;
}

.smaller {
    font-size: 12px;
}
