<div class="command-input-container" data-tauri-drag-region>
    <div #commandInputContainer class="command-input">
        <cds-icon shape="wand"></cds-icon>
        <input #commandInput type="text" [(ngModel)]="searchText" (click)="handleKeyDownListener($event)" />
    </div>
</div>
<ng-template #commandsTemplate>
    <div class="command-body" (contextmenu)="$event.preventDefault()">
        <div *ngFor="let cmd of commands; index as idx" class="command" [class.selected]="idx === selected" (click)="runCommand(cmd)">
            <cds-icon [shape]="cmd.icon" [direction]="cmd.direction"></cds-icon>
            &nbsp;{{ cmd.name }}
        </div>
        <div *ngIf="commands.length === 0" class="command">
            <cds-icon shape="unknown-status"></cds-icon>
            No matching commands
        </div>
    </div>
</ng-template>
