<clr-main-container [class.dark]="settingsService.DarkMode">

    <header class="drag header-4">

    </header>

    <!-- <clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="true">
        <clr-alert-item>
            <span class="alert-text">
                Git executable is not set.
            </span>
            <div class="alert-actions">
                <button class="btn alert-action" [routerLink]="['/settings']">Fix</button>
            </div>
        </clr-alert-item>
    </clr-alert> -->

    <cds-alert-group type="banner" [status]="error.type" aria-label="{{error.message}}"
        *ngIf="errorService.hasError$ | async as error">
        <cds-alert closable>
            {{error.message}}
            <cds-alert-actions *ngIf="error.callback">
                <cds-button (click)="error.callback()">fix it!</cds-button>
            </cds-alert-actions>
        </cds-alert>
    </cds-alert-group>

    <clr-progress-bar *ngIf="showProgress" [clrValue]="33" [clrMax]="100" [clrFlash]="true" [clrLoop]="true">
    </clr-progress-bar>

    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>

        <!-- <clr-vertical-nav>
            <clr-vertical-nav-group routerLinkActive="active">
                <a routerLink="./normal" hidden aria-hidden="true"> </a>
                <!-- <cds-icon shape="user" clrVerticalNavIcon></cds-icon> -->
                Repositories
                <clr-vertical-nav-group-children *clrIfExpanded="true">
                    <a clrVerticalNavLink (click)="navigate(repo.id)" [class.active]="repo.id == currentId"
                        *ngFor="let repo of repositories" class="clickable">
                        <cds-icon clrVerticalNavIcon shape="folder"></cds-icon> {{repo.id}} {{repo.name}}
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <cds-divider></cds-divider>
            <a clrVerticalNavLink [routerLink]="['/add-repository']" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="plus"></cds-icon> Neues Repository
            </a>
            <cds-divider></cds-divider>
        </clr-vertical-nav> -->

    </div>


</clr-main-container>

<!-- <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="openCommand">

</ng-template> -->
