.commander-layout {
    height: 100vh;
    overflow: hidden;
    .commander-header {
        background: var(--cds-global-color-blue-900);
        color: var(--cds-global-color-gray-0);
        height: var(--commander-header-height);
        flex-grow: initial;
    }
    .commander-sidenav {
        background: var(--cds-alias-object-opacity-100);
        width: 260px;
    }
    .commander-divider {
        // --size: 1px;
    }
    .commander-scrollable-content {
        overflow-y: auto;
        justify-content: start;
        align-items: start;
        height: 100%;
    }
}
