<div class="commander-layout commander-app-layout" cds-layout="vertical align:stretch">
    <header class="drag commander-header">
        <app-header></app-header>
    </header>
    <div cds-layout="horizontal align:vertical-stretch wrap:none">

        <div cds-layout="vertical align:stretch">
            <div class="commander-content commander-scrollable-content">
                <div cds-layout="vertical p:lg">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
