<div class="commander-grid-history commander-full-height">

    <commander-split-layout>
        <ng-scrollbar class="virtual-scroll" sidebar>
            <virtual-scroller scrollViewport #scroll [items]="commits">
                <div *ngFor="let commit of scroll.viewPortItems" class="commander-list-item commander-history-item"
                    [routerLink]="[commit.sha]" routerLinkActive="commander-list-item-active"
                    (contextmenu)="openContext($event, commit)">
                    <div class="commander-history-title">
                        {{commit.summary}}
                    </div>
                    <div class="commander-history-author">
                        {{commit.author}} <cds-icon shape="minus"></cds-icon> {{commit.authorDate | dayJS}}
                    </div>
                </div>
            </virtual-scroller>
        </ng-scrollbar>
        <div content>
            <router-outlet> </router-outlet>
            <commandos-select-hint text="select a commit to see the diff" *ngIf="!isChildRouteLoaded">
            </commandos-select-hint>
        </div>
    </commander-split-layout>
</div>


<ng-template #userMenu let-commit>
    <section class="contextmenu" cds-layout="p:xs">
        <div cds-text="secondary" cds-layout="p:sm">
            SHA:<b>{{commit.shortSha}}</b>
        </div>
        <cds-divider></cds-divider>
        <div (click)="checkout(commit.sha)" cds-text="secondary" cds-layout="p:sm" class="clickable contextmenu-action">
            Checkout
        </div>
        <div (click)="createBranch(commit)" cds-text="secondary" cds-layout="p:sm" class="clickable contextmenu-action">
            Create branch
        </div>
        <div (click)="copySha(commit.sha)" cds-text="secondary" cds-layout="p:sm" class="clickable contextmenu-action">
            Copy SHA
        </div>
    </section>
</ng-template>
