:host {
    display: block;
    height: 100%;
}

.commandos-grid-history {
    overflow: hidden;
    position: relative; // display: grid;
    // grid-template-columns: 300px 1px 1fr; // gap: 0.75rem;
}
