.commander-branches-grid {
    width: 100%;
    --commander-branches-grid-template-columns: 25px 25px 25px 1fr;

    .commander-branches-row-title {
        display: grid;
        grid-template-columns: var(--commander-branches-grid-template-columns);
    }

    .commander-branches-row {
        display: grid;
        grid-template-columns: var(--commander-branches-grid-template-columns);

        .lh {
            line-height: 25px;
        }

        cds-checkbox {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .action {
            padding: 6px 5px;
        }
    }
}

.upstream {
    color: var(--cds-global-typography-color-200);
}

// .virtual-scroll {
//     height: calc(100% - 60px);
// }

:host {
    display: block;
    height: 100%;
}

.parent {
    height: 100%;
}

.updownarrow {
    margin-left: -3px;
    margin-top: -3px;
}

.green {
    color: var(--cds-alias-status-success);
}

.red {
    color: var(--cds-alias-status-danger-shade);
}
