<!-- <cds-icon shape="angle" direction="{{ overlayRef ? 'up': 'down'}}"></cds-icon> -->

<div cds-layout="vertical align:stretch p:lg">
    <p cds-layout="m-b:md m-t:none">
        <!-- <a class="tab" [routerLink]="['new']" routerLinkActive="active">Add/Init repository</a> |
        <a class="tab" [routerLink]="['clone']" routerLinkActive="active">Clone repository</a> -->
        <cds-button action="flat" cds-layout="m-r:sm" class="tab" [routerLink]="['new']" routerLinkActive="active">
            Add/Init repository
        </cds-button>
        <cds-button action="flat" class="tab" [routerLink]="['clone']" routerLinkActive="active">Clone repository </cds-button>
    </p>

    <!-- <cds-button action="flat" class="icon-button" [routerLink]="['new']" routerLinkActive="active">Add/Init repository
    </cds-button>
    <cds-button action="flat" class="icon-button" [routerLink]="['clone']" routerLinkActive="active">Clone repository
    </cds-button> -->
    <router-outlet></router-outlet>
</div>
