cds-select {
    width: 180px;
}

.diff {
    overflow: auto;
}

.diff-switcher {
    padding: 2px 0;
    display: flex;
    justify-content: flex-end;
}

.diff-layout {
    display: grid;
    grid-template-rows: 29px 1fr;
    height: 100%;
}

cds-icon-button {
    --font-size: 20px;
    --padding: 6px;
}
