.contextmenu {
    box-shadow: var(--cds-alias-object-shadow-100);
    background: var(--cds-alias-object-container-background);

    .contextmenu-action {
        &:hover {
            background: var(--cds-alias-status-info);
            color: var(--cds-global-typography-color-100);
            border-radius: 3px;
        }

        &.active {
            background: var(--cds-alias-status-info);
            color: var(--cds-global-typography-color-100);
            border-radius: 3px;

        }
    }
}
