.contextmenu {
    .contextmenu-action {
        &:hover {
            background: var(--cds-alias-status-info);
            color: var(--cds-global-typography-color-100);
            border-radius: 3px;
        }
    }
}
