.d2h-wrapper {

    *,
    :after,
    :before,
    :host {
        box-sizing: border-box !important;
    }
}

.d2h-file-header,
.d2h-file-stats {
    position: sticky;
    top: 0;
    z-index: 1;
}

[cds-theme=dark] {

    .d2h-file-header,
    .d2h-file-stats {
        background: var(--cds-alias-object-app-background);
    }
}

table td:not([align]),
table th:not([align]) {
    text-align: inherit;
}

.d2h-wrapper {
    margin-bottom: 200px;
}

.d2h-file-list-header {
    padding: 5px 10px 0;
}




.diff {
    &-item {
        margin-bottom: 50px;
        border-top: 1px solid var(--cds-alias-status-disabled-tint);
        border-bottom: 1px solid var(--cds-alias-status-disabled-tint);

        &-header {
            padding: 10px;

        }
    }

    &-block {
        // margin-bottom: 20px;

        &-header {
            padding: 3px 10px;
        }
    }

    &-line {
        // border-bottom: 1px solid lightgray;
        display: grid;
        grid-template-columns: 50px 50px 1fr;
        font-family: 'Roboto Mono', monospace;

        &-content {
            padding: 2px 6px;
            // margin-left: 50px;
            white-space: pre;
        }


        &-number {
            padding: 2px 6px;
            text-align: right;
            color: var(--cds-global-color-gray-500);
            font-size: var(--cds-global-typography-font-size-2);
        }

        // &-new-number {
        //     border-right: 1px solid var(--cds-global-color-cool-gray-100);
        // }
        &-old-number {}


        &.context {
            color: var(--cds-global-color-gray-700);

        }
    }
}

body:not([cds-theme~=dark]) {
    .diff {
        &-item {

            &-header {
                background: var(--cds-alias-status-neutral-tint);
            }
        }

        &-block {
            &-header {
                background: var(--cds-alias-status-info-tint);
                color: var(--cds-global-color-gray-700);
            }
        }

        &-line {
            background: var(--cds-alias-object-interaction-background);

            &-number {
                color: var(--cds-global-color-gray-600);
            }

            &.insert {
                .diff-line-content {
                    background: var(--cds-alias-status-success-tint);
                }

                .diff-line-number {
                    background: var(--cds-global-color-green-100);
                }
            }

            &.delete {
                .diff-line-content {
                    background: var(--cds-alias-status-danger-tint);
                }

                .diff-line-number {
                    background: var(--cds-global-color-red-100);
                }
            }
        }
    }
}


body[cds-theme~=dark] {
    .diff {
        &-block {

            &-header {
                background: var(--cds-global-color-warm-gray-900);
            }
        }

        &-line {
            color: var(--cds-global-color-gray-400);

            &-number {
                color: var(--cds-global-color-gray-600);
            }

            &.insert {
                .diff-line-content {
                    background: hsla(93, 80%, 12%);
                }

                .diff-line-number {
                    background: hsla(93, 80%, 17%, 0.5);
                }
            }

            &.delete {
                .diff-line-content {
                    background: hsla(9, 100%, 22%, 0.8);
                }

                .diff-line-number {
                    background: hsla(9, 100%, 22%, 0.6);
                }
            }
        }
    }
}
