.commandos-history-item {
    // padding: 0 10px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    box-sizing: border-box !important;
    border-bottom: 1px solid var(--cds-alias-object-border-color, #cbd4d8);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
}

.commandos-history-title {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    font-size: var(--cds-global-typography-secondary-font-size);
    font-weight: var(--cds-global-typography-font-weight-bold); // line-height: var(--cds-global-typography-secondary-line-height);
}

.commandos-history-author {
    padding: 0 10px;
    line-height: 18px;
    color: var(--cds-global-color-construction-500);
    font-size: var(--cds-global-typography-smallcaption-font-size);
    font-weight: var(--cds-global-typography-smallcaption-font-weight); // line-height: var(--cds-global-typography-smallcaption-line-height);
    letter-spacing: var(--cds-global-typography-smallcaption-letter-spacing);
}

.commandos-grid-history-header {
    padding-top: 6px;
    padding-bottom: 5px;

    .commandos-history-title {
        font-size: var(--cds-global-typography-subsection-font-size);
    }
}
