[cds-layout~='m-r:auto'] {
    margin-right: auto !important;
}

[cds-layout~='m-l:auto'] {
    margin-left: auto !important;
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-item-end {
    justify-self: end;
}
