.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
}

.no-break {
    white-space: nowrap;
}

a[cds-text="link"] {
    cursor: pointer;
}

// [cds-text="subsection"] {
//     margin: 10px 0 10px;
// }

.tab {
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;

    &.active {
        border-bottom: 3px solid black;
    }
}

.helper-text {
    color: var(--cds-global-color-gray-500);
}
