<commander-splash></commander-splash>
<div class="commander-layout commander-app-layout" cds-layout="vertical align:stretch"  (contextmenu)="$event.preventDefault()">
    <header class="commander-header" [ngClass]="{ dev: devEnv }">
        <app-header></app-header>
    </header>
    <div class="commander-navigation" cds-layout="">
        <app-subnav></app-subnav>
    </div>
    <div cds-layout="horizontal align:vertical-stretch wrap:none" class="commander-global-content">
        <!-- <nav class="commander-sidenav" cds-layout="">
            <app-sidenav></app-sidenav>
        </nav> -->
        <!-- <cds-divider class="commander-divider" orientation="vertical"></cds-divider> -->
        <div cds-layout="vertical align:stretch">
            <div class="commander-content commander-scrollable-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <footer class="commander-footer">
        <commandos-footer></commandos-footer>
    </footer>
</div>
<app-commander-modal *ngIf="commanderModalService.open"></app-commander-modal>
<commandos-update-modal *ngIf="hasUpdate" [update]="update" (close)="closeUpdate()"></commandos-update-modal>
<div class="commandos-notification-container">
    <commandos-notification></commandos-notification>
</div>

<ng-template #userMenu let-user>
    <section class="user-menu">
        <div>Delete</div>
        <div>Send to</div>
    </section>
</ng-template>
