.commandos-button-control {
    position: relative;

    .commandos-button-control-area {
        display: grid;
        grid-template-columns: 40px 1fr;
        width: 250px;
        padding: 6px 5px 6px 7px;
        height: 50px;
        cursor: pointer;
        margin-left: -1px;
        margin-right: -1px;

        &.open {
            background: var(--cds-alias-object-app-background, var(--cds-global-color-gray-50, #fafafa));
            color: var(--cds-global-typography-color-500, var(--cds-global-color-gray-1000, black));
        }

        .commandos-button-control-icon {
            // line-height: var(--commandos-button-control-sub-header-height);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .commandos-button-control-title {
            color: var(--cds-global-color-cool-gray-600);
            font-weight: var(--cds-global-typography-font-weight-light);
            font-size: var(--cds-global-typography-font-size-2);
        }

        .commandos-button-control-value {
            color: var(--color);
            width: 200px; // needed for overflow to work
            text-overflow: ellipsis;
            overflow: hidden;
        }



        .commandos-button-control-text {
            padding-left: 7px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-start;
        }
    }

    &.commandos-button-control-hover {
        &:hover {
            background: var(--cds-alias-object-app-background, var(--cds-global-color-gray-50, #fafafa));
            color: var(--cds-global-typography-color-500, var(--cds-global-color-gray-1000, black));
        }
    }

    .commandos-button-control-action {
        // text-align: center; // line-height: var(--commandos-button-control-sub-header-height);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin: 7px 0; // background: var(--cds-global-color-warm-gray-100);

        cds-icon-button:hover {
            background: var(--cds-alias-object-app-background, var(--cds-global-color-gray-50, #fafafa));
        }

        &.last {
            margin-right: 5px;
        }
    }

    .commandos-button-control-window {
        width: 100%; // background: var(--cds-global-color-warm-gray-100);
        background: var(--cds-alias-object-app-background, var(--cds-global-color-gray-50, #fafafa));
        color: var(--cds-global-typography-color-500, var(--cds-global-color-gray-1000, black));
    }
}
