<div *ngFor="let item of diff" class="diff-item">
    <div class="diff-item-header">
        <div>File: {{item.newPath}}</div>
        <!-- <div>{{item.addedLines}} ++ {{item.deletedLines}} --</div> -->
    </div>

    <ng-scrollbar track="horizontal" class="virtual-scroll">
        <div scrollViewport *ngFor="let block of item.hunks" class="diff-block">
            <div class="diff-block-header">
                {{block.content}}
            </div>
            <div *ngFor="let line of block.changes" class="diff-line" [ngClass]="line.type">
                <div class="diff-line-number diff-line-old-number">{{line.oldLineNumber}}<ng-container
                        *ngIf="line.type === 'delete'">{{line.lineNumber}}</ng-container>
                </div>
                <div class="diff-line-number diff-line-new-number">{{line.newLineNumber}}<ng-container
                        *ngIf="line.type === 'insert'">{{line.lineNumber}}</ng-container>
                </div>
                <div class="diff-line-content">{{line.content}}</div>
            </div>
        </div>
    </ng-scrollbar>
</div>
