.subnav-grid {
    display: grid;
    grid-template-columns: auto 1px auto 1px auto 1px auto 1px auto 1px auto 1fr;
}

.icon-button {
    margin: 7px;
    display: block;
}

// cds-icon-button.hover:hover {
//     background: black;
// }

.branch-control {
    width: 300px;
}
