<div class="subnav-grid">
    <div>
        <app-button-control title="Current repository" [value]="repositoryService.repositorySetting?.name"
            startIcon="home" endIcon="plus" (onClick)="goToHome()">
            <cds-icon-button action-primary action="flat" [routerLink]="['/add-repository']" routerLinkActive="active"
                aria-label="Add Repository">
                <cds-icon shape="plus"></cds-icon>
            </cds-icon-button>
        </app-button-control>
    </div>
    <ng-container *ngIf="!!repositoryService.repositorySetting?.name">
        <div class="spacer"></div>
        <div class="branch-control">
            <app-button-control [routerLink]="['/repository', repositoryService.currentId, 'branches']"
                routerLinkActive="button-active" startIcon="branch">
                <div title>
                    Current branch <commander-branch-ahead-behind [noColor]="true"
                        [branch]="repositoryService.currentBranch" cds-layout="m-l:sm">
                    </commander-branch-ahead-behind>
                </div>
                <div value class="no-break text-overflow">
                    {{ repositoryService.currentBranchStr}}&nbsp;&nbsp;
                </div>

                <cds-icon-button action-secondary action="flat" class="hover" aria-label="Create new branch"
                    [loadingState]="isSyncing" (click)="sync($event)">
                    <cds-icon shape="sync" [class.spin]="isSyncing"></cds-icon>
                </cds-icon-button>

                <cds-icon-button action-primary action="flat" class="hover" aria-label="Create new branch"
                    (click)="openNewBranch($event)">
                    <cds-icon shape="plus"></cds-icon>
                </cds-icon-button>
            </app-button-control>
        </div>
        <div class="spacer"></div>
        <div icon>
            <!-- <cds-icon-button action="flat" class="icon-button"
                [routerLink]="['/repository', repositoryService.currentId, 'commit']" routerLinkActive="active"
                aria-label="repository changes">
                <cds-icon shape="commit" size="24"></cds-icon>
            </cds-icon-button> -->
            <cds-button action="flat" class="icon-button"
                [routerLink]="['/repository', repositoryService.currentId, 'commit']" routerLinkActive="active">Changes
            </cds-button>
        </div>
        <div class="spacer"></div>
        <div>
            <!-- <cds-icon-button action="flat" class="icon-button"
                [routerLink]="['/repository', repositoryService.currentId, 'history']" routerLinkActive="active"
                aria-label="branch history">
                <cds-icon shape="history" size="24"></cds-icon>
            </cds-icon-button> -->
            <cds-button action="flat" class="icon-button"
                [routerLink]="['/repository', repositoryService.currentId, 'history']" routerLinkActive="active">History
            </cds-button>
        </div>
        <div class="spacer"></div>
        <div>
            <cds-icon-button action="flat" class="icon-button"
                [routerLink]="['/repository', repositoryService.currentId, 'setting']" routerLinkActive="active"
                aria-label="repository setting">
                <cds-icon shape="cog" size="24"></cds-icon>
            </cds-icon-button>
            <!-- <cds-button action="flat" class="icon-button"
                [routerLink]="['/repository', repositoryService.currentId, 'setting']" routerLinkActive="active">
                Settings
            </cds-button> -->
        </div>
    </ng-container>
    <div></div>

</div>
