:host {
    display: block;
    height: 100%;
}

// .commander-grid-commit {
//     display: grid;
//     grid-template-columns: 320px 1px 1fr;
//     width: 100%;
// }
.ninja-content {
    height: 100%;
}

.grid-info {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 6px;
    align-items: center;
    margin-top: 10px;
}

.clr-form-control {
    margin-top: 5px;
}

.new {
    color: green;
}

.deleted {
    color: darkred;
}

.modified {
    color: darksalmon;
}

.renamed {
    color: blueviolet;
}

.copied {
    color: deeppink;
}

.gray-col {
    color: var(--cds-global-typography-color-300);
}

.icons {
    display: none;
}

cds-icon-button {
    margin: 0; // height: 28px;
    padding: 0; // line-height: 27px;
    min-width: auto;
    --min-width: auto;
    --padding: 0;
    &.action {
        vertical-align: top;
        display: inline-flex;
    }
    cds-icon {
        margin-right: 3px;
        margin-left: 3px;
    }
}

.commander-commit-area {
    display: grid;
    grid-template-rows: 107px 1px 1fr;
    height: 100%;
    .virtual-scroll {
        // height: calc(100% - 91px);
    }
}

cds-textarea {
    --cds-global-layout-space-xxl: 32px;
    --padding: var(--cds-global-space-4);
    --cds-global-space-15: none;
}

.commander-tree-arrow {
    --color: var(--cds-global-color-warm-gray-400);
}
