#splash.full {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #247bae;
    -webkit-user-select: none;
    opacity: 1;
    transition: opacity 1s;
    z-index: 99999;
}

#splash.full .text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 40px;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
}

#splash.full .text .small {
    margin-top: 20px;
    font-size: 20px;
}

ng-particles {
    display: block;
    height: 100%;
    width: 100%;
}
