<div cds-layout="vertical align:stretch p:lg">
    <h1>About</h1>
    <h2>Version</h2>
    This is version: {{version}} of Commandos. It is still in alpha/beta :-D

    <h2>Design</h2>
    Clarity Design was used to create this awesome app.

    <h2>Icons</h2>
    <h3>Arrow icons</h3>
    <div>Arrow-icons are created by <a href="https://www.freepik.com" target="_blank" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/de/" target="_blank" title="Flaticon">www.flaticon.com</a>
    </div>
    <h3>Icons</h3>
    <div>Most icons are taken from Clarity Design.<br>
        GIT related icons are from <a href="https://primer.style/octicons/"
            target="_blank">https://primer.style/octicons/</a>
    </div>

    <h2>Merge Animation</h2>
    Merge animation are inspierd by Azure repos.

    <h2>Splashscreen</h2>
    <div>Splashscreen is inspierd by Saransh Sinha <a href="https://codepen.io/saransh/pen/BKJun?editors=1100"
            target="_blank">Codepen</a></div>
    <!-- <h3>Header 3 (Sub Heading)</h3>
    <h4>Header 4 (Section Heading Level 1)</h4>
    <h5>Header 5 (Category / group label, TOC)</h5>
    <h6>Header 6 (Section Heading Level 2 group label)</h6> -->
</div>
